@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-Regular.eot');
   src: url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lora-Regular.woff2') format('woff2'),
       url('../fonts/Lora-Regular.woff') format('woff'),
       url('../fonts/Lora-Regular.ttf') format('truetype'),
       url('../fonts/Lora-Regular.svg#Lora-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-Italic.eot');
   src: url('../fonts/Lora-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lora-Italic.woff2') format('woff2'),
       url('../fonts/Lora-Italic.woff') format('woff'),
       url('../fonts/Lora-Italic.ttf') format('truetype'),
       url('../fonts/Lora-Italic.svg#Lora-Italic') format('svg');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-Medium.eot');
   src: url('../fonts/Lora-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lora-Medium.woff2') format('woff2'),
       url('../fonts/Lora-Medium.woff') format('woff'),
       url('../fonts/Lora-Medium.ttf') format('truetype'),
       url('../fonts/Lora-Medium.svg#Lora-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-MediumItalic.eot');
   src: url('../fonts/Lora-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lora-MediumItalic.woff2') format('woff2'),
       url('../fonts/Lora-MediumItalic.woff') format('woff'),
       url('../fonts/Lora-MediumItalic.ttf') format('truetype'),
       url('../fonts/Lora-MediumItalic.svg#Lora-MediumItalic') format('svg');
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-SemiBold.eot');
   src: url('../fonts/Lora-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lora-SemiBold.woff2') format('woff2'),
       url('../fonts/Lora-SemiBold.woff') format('woff'),
       url('../fonts/Lora-SemiBold.ttf') format('truetype'),
       url('../fonts/Lora-SemiBold.svg#Lora-SemiBold') format('svg');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-SemiBoldItalic.eot');
   src: url('../fonts/Lora-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lora-SemiBoldItalic.woff2') format('woff2'),
       url('../fonts/Lora-SemiBoldItalic.woff') format('woff'),
       url('../fonts/Lora-SemiBoldItalic.ttf') format('truetype'),
       url('../fonts/Lora-SemiBoldItalic.svg#Lora-SemiBoldItalic') format('svg');
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-Bold.eot');
   src: url('../fonts/Lora-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lora-Bold.woff2') format('woff2'),
       url('../fonts/Lora-Bold.woff') format('woff'),
       url('../fonts/Lora-Bold.ttf') format('truetype'),
       url('../fonts/Lora-Bold.svg#Lora-Bold') format('svg');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-BoldItalic.eot');
   src: url('../fonts/Lora-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lora-BoldItalic.woff2') format('woff2'),
       url('../fonts/Lora-BoldItalic.woff') format('woff'),
       url('../fonts/Lora-BoldItalic.ttf') format('truetype'),
       url('../fonts/Lora-BoldItalic.svg#Lora-BoldItalic') format('svg');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Marcellus';
   src: url('../fonts/Marcellus-Regular.eot');
   src: url('../fonts/Marcellus-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Marcellus-Regular.woff2') format('woff2'),
       url('../fonts/Marcellus-Regular.woff') format('woff'),
       url('../fonts/Marcellus-Regular.ttf') format('truetype'),
       url('../fonts/Marcellus-Regular.svg#Marcellus-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --black: #000000;
   --black-light: #040404;
   --brown: #9d6c33;
   --brown-light: #c3935b;
   --brown-dark: #644521;
   --extra-dark: #242424;
   --dark: #373737;
   --gray: #777777;
   --gray-light: #dfdfdf;
   --gray-dark: #585757;
   --light: #f4f4f4;
   --white: #ffffff;

   --primaryFont: "Lora", serif;
   --secondFont: "Marcellus", serif;
}


/* ======= Text styles ======= */

body {
   color: var(--gray);
   font-family: var(--primaryFont);
   font-size: 14px;
   font-weight: 400;
   line-height: 1.79;
}
p {
   margin-bottom: 0.5em;
}
p:last-child {
   margin-bottom: 0;
}
h1,
.h1 {
   color: var(--white);
   font-family: var(--secondFont);
   font-size: 3.857em;
   font-weight: 400;
   text-transform: uppercase;
   line-height: 1.11;
   margin: 0.5em 0;
}
h2,
.h2 {
   color: var(--extra-dark);
   font-family: var(--secondFont);
   font-size: 2.142em;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
   line-height: 1.33;
   margin: 1.5em 0 1em;
}
h3,
.h3 {
   color: var(--black);
   font-family: var(--secondFont);
   font-size: 1.714em;
   font-weight: 400;
   line-height: 1.46;
   margin: 0.5em 0;
}
h4,
.h4 {
   color: var(--black);
   font-family: var(--secondFont);
   font-size: 1.285em;
   font-weight: 400;
   line-height: 1.39;
   margin: 0.5em 0;
}
h5,
.h5 {
   color: var(--brown-light);
   font-size: 1.571em;
   font-weight: 500;
   font-style: italic;
   line-height: 1.14;
   margin: 0.5em 0;
}
h6,
.h6 {
   color: var(--brown-light);
   font-size: 1em;
   font-weight: 500;
   line-height: 1.79;
   margin: 0.5em 0;
}
.bold-text {
   font-weight: 700;
}
.small-text {
   font-size: 0.875em;
}
.smallest-text {
   font-size: 0.75em;
}
a {
   color: var(--brown-dark);
   text-decoration: none;
   transition: color 0.3s;
   outline: none;
}
a:hover {
   color: var(--brown-light);
}
ul,
ol {
   margin: 1.2em 0 1.05em;
   padding-left: 1.4em;
}
li {
   padding: 0.2em 0;
}
.marker-none {
   list-style: none;
}
@media screen and (max-width: 1060px) {
   
}
@media screen and (max-width: 767px) {
   h1,
   .h1 {
      font-size: 2.5em;
      line-height: 1;
   }
}


/* ======= Images styles ======= */

img {
   display: inline-block;
   max-width: 100%;
}
[class*="image-block-"] {
   display: block;
   width: 100%;
   height: 100%;
   object-position: center center;
}
.image-block-cover {
   object-fit: cover;
}
.image-block-contain {
   object-fit: contain;
}
.svg-hover {
   transition: stroke 0.3s, fill 0.3s;
}


/* ======= Buttons styles ======= */

button:focus {
   outline: none;
}
.button {
   font-family: var(--primaryFont);
   font-size: 1em;
   font-weight: 500;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   border-radius: 0;
   display: inline-block;
   padding: 1em 1.015em 1.09em;
   cursor: pointer;
   transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.button-default {
   color: var(--white);
   background-color: var(--gray);
   border: 1px solid var(--gray);
}
.button-white {
   color: var(--black);
   background-color: var(--white);
   border: 1px solid var(--white);
}
.button-outline-dark {
   color: var(--white);
   background-color: transparent;
   border: 1px solid var(--white);
}
.hover-default:hover {
   color: var(--white);
   background-color: var(--black);
   border-color: var(--black);
}
.hover-white:hover {
   color: var(--white);
   background-color: transparent;
}
.hover-outline-dark:hover {
   color: var(--black);
   background-color: var(--white);
}
.swiper-button-prev,
.swiper-button-next {
   color: var(--gray-dark);
   font-weight: 700;
   width: 2em;
   height: 2em;
   background-color: transparent;
   border-radius: 1px;
   top: calc(54.5% - 1em);
   transition: color 0.3s, background-color 0.3s;
}
.swiper-button-prev {
   padding-right: 0.15em;
   left: 0.15em;
}
.swiper-button-next {
   padding-left: 0.15em;
   right: 0.15em;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
   color: var(--white);
   background-color: var(--gray-dark);
}
.swiper-button-prev::after,
.swiper-button-next::after {
   font-size: 1em;
}
.nav-toggle {
   display: none;
   position: relative;
   left: 10px;
   padding: 10px;
   background: transparent;
   border: none;
   margin-left: 0.5em;
}
.nav-toggle:focus {
   outline-width: 0;
}
.nav-toggle [class*='bar-'] {
   background: var(--white);
   display: block;
   transform: rotate(0deg);
   transition: .2s ease all;
   border-radius: 2px;
   height: 2px;
   width: 25px;
   margin-bottom: 7px;
}
.nav-toggle .bar-bot {
   margin-bottom: 0;
}
.opened .bar-top {
   transform: rotate(45deg);
   transform-origin: -5% 15%;
}
.opened .bar-mid {
   opacity: 0;
}
.opened .bar-bot {
   transform: rotate(-45deg);
   transform-origin: 0 100%;
}
@media screen and (max-width: 1060px) {
   .nav-toggle {
      display: block;
   }
   .swiper-button-prev {
      left: 0;
   }
   .swiper-button-next {
      right: 0;
   }
}


/* ======= Flexbox styles ======= */

[class*="dsflex"] {
   display: flex;
   justify-content: space-between;
}
.dsflex-ai-start {
   align-items: flex-start;
}
.dsflex-ai-center {
   align-items: center;
}
.dsflex-ai-end {
   align-items: flex-end;
}
@media screen and (max-width: 1060px) {
   .dsf-tablet {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
   }
}
@media screen and (max-width: 767px) {
   .dsf-mobile {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
   }
}


/* ======= Main blocks styles ======= */

.site-body-wrapper {
   background-color: var(--light);
}
.width-container {
   width: 87%;
   max-width: 83.575em;
   margin: 0 auto;
}
.stop-scroll {
   overflow: hidden;
}
@media screen and (max-width: 1060px) {

}
@media screen and (max-width: 767px) {
   .width-container {
      width: 90%;
   }
}


/* ======= Site header ======= */

.site-header {
   background-color: var(--extra-dark);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 1.35em 0;
   z-index: 90;
   transition: background-color 0.5s;
}
.home .site-header {
   background-color: transparent;
}
.site-header.sticky {
   background-color: var(--extra-dark);
}
.site-header .left-column {
   flex-shrink: 0;
}
.site-header .center-column {
   width: 62%;
   margin-right: 3.5%;
   padding-bottom: 0.2em;
}
.site-header .right-column {
   flex-shrink: 0;
}
.custom-logo-link {
   display: block;
   width: 7.8em;
   transition: opacity 0.3s;
}
.custom-logo-link:hover {
   opacity: 0.7;
}
.site-main-menu {
   margin: 0;
   padding: 0;
}
.site-user-menu {
   margin: 0;
   padding: 0;
}
.menu-item {
   margin: 0;
   padding: 0;
}
.site-main-menu .menu-item {
   margin-right: 1.79vw;
}
.menu-item-has-children {
   position: relative;
   padding-right: 1.15em;
}
.menu-item-has-children::before {
   content: '';
   position: absolute;
   display: block;
   border: 2px solid var(--white);
   border-left-color: transparent;
   border-top-color: transparent;
   transform: rotate(45deg);
   width: 0.5em;
   height: 0.5em;
   top: calc(50% - 0.4em);
   right: 0.1em;
   transition: border-color 0.5s, top 0.5s;
}
.menu-item-has-children.opened::before {
   border-left-color: var(--white);
   border-top-color: var(--white);
   border-right-color: transparent;
   border-bottom-color: transparent;
   top: calc(50% - 0.05em);
}
.menu-item a {
   color: var(--white);
   font-family: var(--secondFont);
   text-transform: uppercase;
}
.menu-item a:hover {
   color: var(--brown-light);
}
.sub-menu {
   list-style: none;
   background-color: var(--white);
   border-radius: 3px;
   position: absolute;
   top: 100%;
   left: 0;
   display: none;
   margin: 0;
   padding: 0.75em 1.5em 1em;
   width: max-content;
   min-width: 15em;
}
.sub-menu a {
   color: var(--gray);
   font-family: var(--primaryFont);
   text-transform: none;
   position: relative;
}
.sub-menu a:hover {
   color: var(--black);
}
.sub-menu a::before {
   content: '';
   position: absolute;
   display: block;
   background-color: transparent;
   width: 100%;
   height: 1px;
   top: 100%;
   left: 0;
   transition: background-color 0.3s;
}
.sub-menu a:hover::before {
   background-color: var(--black);
}
.header-search-block {
   position: relative;
}
.header-search-button {
   border: none;
   background-color: transparent;
   display: block;
   width: 1.143em;
   height: 1.143em;
   padding: 0;
}
.header-search-button:hover .svg-hover {
   fill: var(--brown-light);
}
.search-form-wrapper {
   display: none;
   position: absolute;
   top: calc(100% + 10px);
   right: 0;
   width: 100vw;
   max-width: 25em;
}
.woocommerce-product-search {
   display: flex;
   background-color: var(--white);
   border-radius: 3px;
   padding: 0.5em;
}
.screen-reader-text {
   display: none;
}
.woocommerce-product-search .search-field {
   color: var(--extra-dark);
   font-size: 1em;
   line-height: 1;
   background-color: transparent;
   border: 2px solid var(--gray-dark);
   border-radius: 3px 0 0 3px;
   width: 100%;
   padding: 0.5em 1em 0.75em;
   outline: none;
}
.woocommerce-product-search button {
   color: var(--white);
   font-size: 1em;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 1;
   background-color: var(--gray-dark);
   border: none;
   border-radius: 0 3px 3px 0;
   flex-shrink: 0;
   padding: 1.1em 1.2em;
   transition: color 0.3s, background-color 0.3s;
}
.woocommerce-product-search button:hover {
   background-color: var(--gray);
}
.header-cart-block {
   margin: 0 0.5em 0 1.4em;
}
.cart-link {
   color: var(--white);
   position: relative;
}
.cart-link .icon {
   display: block;
   width: 20px;
   height: 20px;
}
.cart-link:hover .svg-hover {
   stroke: var(--brown-light);
}
.cart-link .count {
   color: var(--white);
   font-size: 10px;
   border-radius: 50%;
   background-color: var(--brown-light);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 12px;
   height: 12px;
   padding-bottom: 1px;
   position: absolute;
   top: 1%;
   left: 9px;
}
.cart-link .total {
   font-family: var(--secondFont);
   display: block;
   margin-left: 0.3em;
}
@media screen and (max-width: 1060px) {
   .site-header .center-column {
      width: auto;
   }
   .site-navigation {
      position: fixed;
      top: 5.5em;
      left: 0;
      display: none;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      height: calc(100vh - 5.5em);
      padding-bottom: 60px;
      background-color: #000000ee;
      z-index: 100;
   }
   .site-navigation-wrapper {
      width: 90%;
      max-width: 25em;
      height: 100%;
      margin: 0 auto;
      justify-content: center;
      overflow-y: auto;
   }
   .menu-item,
   .site-main-menu .menu-item {
      margin: 0.2em 0;
      padding: 0.3em 0;
   }
   .menu-item-has-children {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
   }
   .menu-item-has-children::before {
      display: none;
   }
   .menu-item-has-children > a {
      width: calc(100% - 1.75em);
   }
   .sub-menu-button {
      width: 1.75em;
      height: 1.75em;
      position: relative;
   }
   .sub-menu-button::before {
      content: '';
      position: absolute;
      display: block;
      border: 2px solid var(--white);
      border-left-color: transparent;
      border-top-color: transparent;
      transform: rotate(45deg);
      width: 0.9em;
      height: 0.9em;
      top: calc(50% - 0.7em);
      left: calc(50% - 0.45em);
      transition: border-color 0.5s, top 0.5s;
   }
   .opened .sub-menu-button::before {
      border-left-color: var(--white);
      border-top-color: var(--white);
      border-right-color: transparent;
      border-bottom-color: transparent;
      top: calc(50% - 0.15em);
   }
   .sub-menu {
      position: relative;
      top: 0;
      left: 0;
      background-color: transparent;
      border-radius: 0;
      width: 100%;
      min-width: 1px;
      padding: 0.75em 1.0em 0.3em;
   }
   .sub-menu a,
   .sub-menu a:hover {
      color: var(--white);
   }
   .search-form-wrapper {
      position: fixed;
      top: 5.5em;
      right: 5%;
      width: 90%;
      max-width: 100vw;
      z-index: 150;
   }
}


/* ======= Home page ======= */

/* --- Main banner --- */

.main-banner {
   height: 39.065vw;
   padding: 5.5em 0 4%;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: var(--black-light);
}
.main-banner-wrapper {
   height: 100%;
}
.main-banner .text-wrapper {
   max-width: 52em;
   padding: 0 8.5%;
}
.main-banner .subtitle  {
   color: var(--white);
   margin: 0 0 0.5em;
}
.main-banner .title {
   margin: 0 0 0.35em;
}
.main-banner .text {
   color: var(--white);
   max-width: 33.7em;
   margin: 0 0 2.55em;
}
.main-banner .button {
   margin-right: 0.9em;
}
@media screen and (max-width: 1060px) {
   .main-banner {
      height: 70vw;
   }
   .main-banner .text-wrapper {
      padding: 0;
   }
   .main-banner .text {
      max-width: 31.7em;
   }
}
@media screen and (max-width: 767px) {
   .main-banner {
      height: auto;
      padding: 6.5em 0 15%;
      background-position: 67% 0;
      background-size: auto 100%;
   }
   .main-banner-wrapper {
      min-height: 90vw;
   }
   .main-banner .text-wrapper {
      max-width: 100%;
      width: 100%;
   }
   .main-banner .text {
      width: 50%;
   }
}

/* --- Featured product --- */

.featured-product-block {
   padding: 5.2% 0 3%;
}
.featured-product-subtitle {
   text-align: center;
   margin: 0 0 0.4em;
}
.featured-product-title {
   margin: 0 0 0.35em;
}
.featured-product-text {
   text-align: center;
   margin-bottom: 3.7em;
}
.featured-product-block .banner-column {
   width: 23.075%;
}
.featured-product-block .banner {
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}
.featured-product-block .text-wrapper {
   width: 100%;
   padding: 2% 3.8% 5.7%;
}
.featured-product-block .banner-title {
   font-family: var(--primaryFont);
   line-height: 1.17;
   margin: 0 0 0.4em;
}
.featured-product-block .banner-text {
   text-align: center;
   margin-bottom: 1.8%;
}
.featured-product-block .banner-link-wrapper {
   text-align: center;
   display: none;
   padding-top: 2.25%;
}
.featured-product-block .banner-link {
   color: var(--black);
   text-transform: uppercase;
}
.featured-product-block .slider-column {
   width: 74.35%;
   padding: 0 3.8275%;
   position: relative;
}
.min-product {
   display: block;
   cursor: pointer;
}
.min-product .image-wrapper {
   width: 100%;
   height: 20.09vw;
   max-height: 19.285em;
   margin-bottom: 0.95em;
   overflow: hidden;
}
.min-product img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center center;
   transition: transform 0.5s;
}
.min-product:hover img {
   transform: scale(1.1) rotate(7deg);
}
.min-product .text-wrapper {
   padding: 0 0.3em;
   transition: background-color 0.5s;
}
.min-product:hover .text-wrapper {
   background-color: var(--gray-light);
}
.min-product-title {
   color: var(--extra-dark);
   font-family: var(--secondFont);
   text-align: center;
   margin-bottom: 0.4em;
}
.min-product-category {
   color: var(--gray);
   text-align: center;
   margin-bottom: 0.35em;
}
.min-product-price {
   color: var(--brown-light);
   font-weight: 700;
   text-align: center;
}
@media screen and (max-width: 1060px) {
   .featured-product-text {
      margin-bottom: 2.2em;
   }
   .featured-product-block .banner-column {
      width: 30.0%;
   }
   .featured-product-block .slider-column {
      width: 67%;
   }
   .min-product .image-wrapper {
      height: 27.05vw;
      max-height: 100%;
   }
}
@media screen and (max-width: 767px) {
   .featured-product-block {
      padding: 3.0em 0;
   }
   .featured-product-block .banner-column {
      width: 44%;
   }
   .featured-product-block .slider-column {
      width: 52%;
      padding: 0 2.5em;
   }
   .min-product .image-wrapper {
      height: 39.475vw;
   }
}
@media screen and (max-width: 520px) {
   .featured-slider-block {
      flex-direction: column;
   }
   .featured-product-block .banner-column {
      width: 100%;
      height: 95vw;
      margin-bottom: 2em;
   }
   .featured-product-block .text-wrapper {
      padding: 5% 10% 11%;
   }
   .featured-product-block .slider-column {
      width: 100%;
   }
   .min-product .image-wrapper {
      height: 75.85vw;
   }
}

/* --- Special offer --- */

.special-offer-block {
   padding: 2.2% 0;
}
.special-offer-block .left-column {
   width: 48.55%;
}
.special-offer-block .banner {
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: 0 4px 4px 0 #0000003e;
   padding: 0.75em 0 0.7em;
   position: relative;
   overflow: hidden;
}
.special-offer-block .banner-decor {
   color: var(--gray-light);
   font-family: var(--secondFont);
   font-size: 4.5em;
   text-align: center;
   text-transform: uppercase;
   white-space: nowrap;
   position: absolute;
   top: -15px;
   left: 50%;
   transform: translate(-50%, 0);
   opacity: 0.4;
}
.special-offer-block .banner .image-column {
   width: 44.025%;
   position: relative;
}
.special-offer-block .banner .image-wrapper {
   width: 90%;
   height: 100%;
   margin: 0 auto;
}
.special-offer-block .banner .text-wrapper {
   width: 52%;
}
.special-offer-block .banner .subtitle {
   color: var(--extra-dark);
   margin: 0 0 0.5em;
}
.special-offer-block .banner .title {
   color: var(--extra-dark);
   text-align: left;
   text-transform: none;
   line-height: 1.2;
   margin: 0.2em 0 0.175em;
}
.special-offer-block .banner .text {
   text-transform: uppercase;
   margin-bottom: 1.7em;
}
.special-offer-block .center-column,
.special-offer-block .right-column {
   width: 21.8%;
}
.special-list-title {
   text-transform: uppercase;
   margin: 0 0 0.7em;
}
.special-product {
   border-bottom: 1px solid var(--gray-light);
   margin-bottom: 0.45em;
   padding: 0.6em 0;
}
.special-product .image-column {
   width: 25.5%;
   overflow: hidden;
}
.special-product img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center center;
   transition: transform 0.5s;
}
.special-product:hover img {
   transform: scale(1.2) rotate(10deg);
}
.special-product .text-column {
   width: 68%;
}
.special-product-title {
   color: var(--extra-dark);
   font-family: var(--secondFont);
   line-height: 1.14;
   margin-bottom: 0.65em;
}
.special-product-price {
   color: var(--brown-light);
   line-height: 1.14;
}
@media screen and (max-width: 1060px) {
   .special-offer-wrapper {
      flex-wrap: wrap;
   }
   .special-offer-block .left-column {
      width: 100%;
   }
   .special-offer-block .center-column,
   .special-offer-block .right-column {
      width: 47%;
   }
   .special-offer-block .banner {
      margin-bottom: 3.5em;
      padding: 2.75em 0 2.7em;
   }
   .special-offer-block .banner .image-wrapper {
      width: 60%;
   }
}
@media screen and (max-width: 520px) {
   .special-offer-block .center-column,
   .special-offer-block .right-column {
      width: 100%;
   }
   .special-offer-block .center-column {
      margin-bottom: 2.5em;
   }
}

/* --- Jewelry Design Blog --- */

.jewelry-blog-block {
   padding: 3% 0 5.3%;
}
.jewelry-blog-subtitle {
   text-align: center;
   margin: 0 0 0.45em;
}
.jewelry-blog-title {
   margin: 0 0 0.325em;
}
.jewelry-blog-text {
   text-align: center;
   margin-bottom: 4.4%;
}
.jewerly-blog-slider {
   padding: 0 4.0175%;
   position: relative;
}
.jewerly-blog-post {
   text-align: center;
}
.jewerly-blog-post-link {
   display: block;
}
.jewerly-blog-post .image-wrapper {
   position: relative;
   height: 19.36vw;
   max-height: 18.6em;
   overflow: hidden;
}
.jewerly-blog-post .image-wrapper img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center center;
   transition: transform 0.5s;
}
.jewerly-blog-post-link:hover .image-wrapper img {
   transform: scale(1.2) rotate(7deg);
}
.jewerly-blog-post .date {
   position: absolute;
   top: 5.1%;
   left: 4%;
   background-color: var(--white);
   width: 3.3em;
   padding: 0.2em 0 0.35em;
   z-index: 1;
}
.jewerly-blog-post .day {
   color: var(--extra-dark);
   font-size: 1.714em;
   text-align: center;
   line-height: 1.04;
   margin-bottom: 0.1em;
}
.jewerly-blog-post .month {
   color: var(--extra-dark);
   font-size: 0.928em;
   text-align: center;
   text-transform: uppercase;
   line-height: 1.15;
}
.jewerly-blog-post .category {
   color: var(--white);
   font-size: 0.857em;
   text-align: center;
   text-transform: uppercase;
   background-color: var(--brown-light);
   width: max-content;
   margin: -1.3em auto 1.25em;
   padding: 0.15em 0.9em;
   position: relative;
   z-index: 5;
}
.jewerly-blog-post .title {
   text-align: center;
   text-transform: uppercase;
   margin: 0;
}
.jewerly-blog-post .author {
   color: #77777780;
   text-align: center;
   margin-bottom: 0.5em;
}
.jewerly-blog-post .author img {
   border-radius: 50%;
   width: 20px;
   height: 20px;
   margin: 0 0.65em 0.3em;
   position: relative;
   top: 0.6em;
}
.jewerly-blog-post .text {
   color: var(--gray);
   text-align: center;
   margin-bottom: 1.5em;
}
.jewerly-blog-post .link {
   color: var(--brown-light);
   font-weight: 500;
   text-transform: uppercase;
}
.jewerly-blog-post .link:hover {
   color: var(--gray-dark);
}
@media screen and (max-width: 1060px) {
   .jewerly-blog-post .image-wrapper {
      height: 29.5vw;
      max-height: 100%;
   }
}
@media screen and (max-width: 767px) {
   .jewerly-blog-slider {
      padding: 0 2.5em;
   }
   .jewerly-blog-post .image-wrapper {
      height: 56.4vw;
   }
}


/* ======= Site footer ======= */

.site-footer {
   background-color: #eaeaea;
   padding: 3.0% 0;
}
.footer-widget {
   margin: 0 0 0.7em;
}
.footer-widget-title {
   text-transform: uppercase;
   margin: 0.5em 0 1.0em;
}
.site-footer .info-column {
   line-height: 1.43;
   width: 24.2%;
}
.footer-widget.widget_media_image a {
   display: block;
   width: 7.8em;
}
.info-column .footer-widget:last-child {
   line-height: 2.2;
   margin-top: 1.65em;
}
.site-footer .info-column .widget:last-child img {
   position: relative;
   top: 0.3em;
}
.site-footer .posts-column {
   width: 32.5%;
}
.posts-column .footer-widget {
   margin: 0 0 0.4em;
}
.posts-column .footer-widget-title {
   margin: 0.5em 0;
}
.footer-post {
   border-bottom: 1px solid var(--gray-light);
   margin-bottom: 0.45em;
   padding: 0.5em 0;
}
.footer-post .image-column {
   width: 19.75%;
}
.footer-post .image-wrapper {
   height: 4.835vw;
   max-height: 4.64em;
   overflow: hidden;
}
.footer-post img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center center;
   transition: transform 0.5s;
}
.footer-post:hover img {
   transform: scale(1.1) rotate(10deg);
}
.footer-post .text-column {
   width: 76.5%;
   padding-right: 10%;
}
.footer-post .title {
   color: var(--extra-dark);
   font-family: var(--secondFont);
   text-transform: uppercase;
   line-height: 1.43;
   margin: 0.3em 0;
}
.footer-post .date {
   color: var(--gray);
   opacity: 0.5;
}
.site-footer .stores-column {
   width: 15.6%;
}
.site-footer .links-column {
   width: 23%;
}
.site-footer .menu {
   list-style: none;
   margin: 0;
   padding: 0;
}
.site-footer .menu-item {
   margin: 0.375em 0;
}
.site-footer .menu-item a {
   color: var(--gray);
   font-family: var(--primaryFont);
   text-transform: none;
   line-height: 1.43;
}
.site-footer .menu-item a:hover {
   text-decoration: underline;
}
@media screen and (max-width: 767px) {
   .site-footer {
      padding: 3.5em 0 2.5em;
   }
   .site-footer-wrapper {
      flex-wrap: wrap;
   }
   .site-footer .info-column,
   .site-footer .posts-column,
   .site-footer .stores-column,
   .site-footer .links-column {
      width: 47%;
   }
}
@media screen and (max-width: 520px) {
   .site-footer .info-column,
   .site-footer .posts-column,
   .site-footer .stores-column,
   .site-footer .links-column {
      width: 100%;
   }
}




